:root {
  --primary: #333;
  --secondary: #bbb;
  }
  body {font-family:'Nunito', sans-serif;
  font-size: 12px;}
  
  * {box-sizing: border-box;}
  @media screen and (min-width: 780px) {
  .bg-img {
  /* The image used */
  background-image: url("/Src/img/backgroundrestaurante.jpg");
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
  }
  }
  .bg-img {
  /* The image used */
  background-image: url("/Src/img/backgroundrestaurante.jpg");
  min-height: 80vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
  }
  /* Position the navbar container inside the image */
  .container {
  width: auto;
  }
  .topnav-centered{
  text-align: center;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  /* The navbar */
  .topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  }
  /* Navbar links */
  .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  width: 25%; /* Four links of equal widths */
  }
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }

.fullcontainer
{
  position: relative;
  max-width: 70rem;
  max-height: initial;
  margin: 0px auto
}

  #ementa{
  min-height:400px;
  text-align:center;
  color:#000;
  }
  #index h1{
  font-weight: 550;
  font-size: 40px;
  margin-bottom: 150px;
  margin-top: 10px;
  
  }
  #index p{
  margin-bottom: 30px;
  }
  /* PAGINA EMENTA */
  #ementa h1{
  font-weight: 550;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  }


  #ementa p{
  margin-bottom: 30px;
  font-size: large;
  font-weight: 400;
  text-align: left;

  }
  /* EMENTA CONTAINER */
  #ementa .flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  }
  
  /* EMENTA CONTAINER CARD */
  #ementa .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 50px;
  margin-bottom: 50px;
  }
  #ementa .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 50px;
  }
  #ementa .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 50px;
  }
  #ementa .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
  }
  #ementa .flip-card-front {
  background-color:#bbb;
  color: black;
  border-radius: 50px;
  
  }
  #ementa .flip-card-back {
  background-color:var(--primary);
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
  }

  #ementa .flip-card  img {
    width:300px;
    height:300px;
    border-radius: 50px;
  }

  #reservas{
    min-height:400px;
    text-align:center;
    color:#000;
  }